<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<!-- 插件 -->
	<plugins>
		<!-- mybatis分页插件 -->
		<plugin interceptor="com.baomidou.mybatisplus.plugins.PaginationInterceptor">
			<property name="dialectType" value="mysql"/>
		</plugin>
	</plugins>

	<!-- 映射xml文件 cn/mrx/myPro/mapper/xml/UserMapper.xml-->
	<mappers>
		<mapper resource="cn/mrx/exam/mapper/xml/UserMapper.xml"/>
		<mapper resource="cn/mrx/exam/mapper/xml/PermissionMapper.xml"/>
		<mapper resource="cn/mrx/exam/mapper/xml/RoleMapper.xml"/>
		<mapper resource="cn/mrx/exam/mapper/xml/SystemWebMapper.xml"/>
	</mappers>

</configuration>